@import '/static/common.css';
:host {
    /* Allow pointer events to pass through unless explicitly enabled */
    pointer-events: none;
    display: flex;
    flex-direction: row;
}
#selection {
    /* Include border in the dimensions/area of the selection. */
    box-sizing: border-box;
    resize:both;
}
#controls {
    width: max-content;
}

#select-language {
    position: relative;
    width: max-content;
    &[open] {
        display: flex;
    }
}

#output-column {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.clickable {
    pointer-events: auto;
}

/* :host([disabled]) {
    opacity: 50%;
    .clickable {
        pointer-events: none;
    }
}

:host([state="resizing"]) {
    :not(#selection) {
        display: none;
    }
}
:host([state="stale"]) {
    .selection {
        border-style: dashed;
    }
} */
