@import './common.css';

body {
    background-color: var(--ui-background-color);
}
main {
    max-width: 30em;
    padding: 5em;
    max-height: max-content;
    margin: auto;
}

h1 {
    font-size: 200%;
    width: 100%;
    text-align: center;
    align-content: center;
}

h2 {
    font-size: 120%;
}

main, form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.password-reset {
    font-size: 80%;
}
