@import './common.css';

/* || Whiteboard interaction */
body {
    /* display: flex forces main to not overflow from body */
    display: flex;
    flex-direction: column;
}
html, body {
    /* exactly fill viewport so we can only scroll the whiteboard area */
    height: 100%;
    overflow: hidden;
}
main {
    /* let the whiteboard scroll */
    overflow: hidden;
}

#help-dialog {
    width: 75%;
}


/* Help Menu */
#help-dialog img{
    margin: 10px;
    max-width: 90%;
}

#help-dialog ul{
    padding:revert;
}

#help-dialog div{
    margin-bottom: 30px;
}

#help-dialog h1{
    font-size: 150%;
}

#help-dialog h2{
    font-size: 140%;
}

#help-dialog h3{
    font-size: 100%;
}

input[type="range"] {
    width: 7rem;
}

label:has(input#show-annotations:checked) {
    & #annotations-off {
        display: none;
    }
}

label:has(input#show-annotations:not(:checked)) {
    & #annotations-on {
        display: none;
    }
}
