<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link href="/static/main_app.css" rel="stylesheet"/>
  <style>
    body {
        background-color: var(--ui-background-color);
    }
    main {
        max-width: 30em;
        padding: 5em;
        max-height: max-content;
        margin: auto;
    }

    h1 {
        font-size: 200%;
        width: 100%;
        text-align: center;
        align-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    #password-reset {
        font-size: 80%;
    }
  </style>
</head>

<body>
  <main>
    <h1>Enscribe</h1>
    <h2>Log In</h2>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Log In</button>
      </form>
      <p id="password-reset"><a href="{% url 'password_reset' %}">Password Reset</a></p>
  </main>
</body>

</html>
