<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Enscribe</title>
    <link href="/static/main_app.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="spaced-bar tool-bar">
      <div class="spaced-bar">
        <img id="language-logo" width="48px" height="48px"/>
        <select id="default-language" name="default-language" title="Default Language">
          <option value="python3" disabled="">Python</option>
          <option value="dyalog_apl" disabled="">APL</option>
          <option value="lambda-calculus">λ Calculus</option>
        </select>
      </div>

      <div class="spaced-bar">
        <button class="material-symbols-outlined" title="Save Notebook" id="save">
          save
        </button>
        <button class="material-symbols-outlined" title="New Notebook" id="new">
          note_add
        </button>
        <button class="material-symbols-outlined" title="Open Notebook" id="open">
          folder_open
        </button>
      </div>

      <div class="spaced-bar">
        <button id="undo" title="Undo" class="material-symbols-outlined" disabled>undo</button>
        <button id="redo" title="Redo" class="material-symbols-outlined" disabled>redo</button>
      </div>

      <radio-panel id="tool">
        <button value="write" class="material-symbols-outlined" disabled>
          edit
        </button>
        <button value="erase" class="material-symbols-outlined">
          ink_eraser
        </button>
        <button value="select" class="material-symbols-outlined">
          select
        </button>
        <button value="pan" title="Pan" class="material-symbols-outlined">
          drag_pan
        </button>
      </radio-panel>

      <div class="left-stack">
        <label for="pen-width">
          Pen Size
        </label>
        <input id="pen-width" name="pen-width" type="range" value="3" min="1" max="30"/>
      </div>

      <div class="left-stack">
        <label for="eraser-width">
          Eraser Size
        </label>
        <input id="eraser-width" name="eraser-width" type="range" value="20" min="5" max="30"/>
      </div>

      <div class="spaced-bar">
        <label for="line-color" class="material-symbols-outlined">palette</label>
        <input id="line-color" name="line-color" type="color" value="#ffffff"/>
      </div>

      <radio-panel id="layer">
        <button value="code" disabled>Code</button>
        <button value="annotations">Notes</button>
      </radio-panel>
      <label>
        <input id="show-annotations" type="checkbox" checked/>
        Show Notes
      </label>

      <div>
        <button id="open-help">
          Help
        </button>
        <button id="open-settings">
          Settings
        </button>
      </div>
    </header>
    <main>
      <white-board id="whiteboard"
                   data-width="10000"
                   data-height="10000"
                   data-background="squares">
      </white-board>
    </main>
    <dialog id="settings-dialog">
      <h1>Settings</h1>
      <form method="dialog" class="close">
        <button class="material-symbols-outlined">close</button>
      </form>
      <div>
        <label for="touch-action">Touch Behaviour</label>
        <select name="touch-action">
          <option value="pan">Pan</option>
          <option value="auto">Auto (match pen and mouse)</option>
        </select>
      </div>
      <div>
        <label><input name="auto-execute" type="checkbox" value="on" checked/> Automatically execute new selections.</label>
      </div>
      <div>
        <label for="background-selection">Background</label>
        <select id="background-selection" name="background-selection">
          <option value="squares">Squares</option>
          <option value="none">None</option>
          <option value="lines">Lines</option>
          <option value="dots">Dots</option>
        </select>
      </div>
      <div>
        <label for="model">Handwriting Recognition Model</label>
        <select id="model" name="model">
          <option value="cnn">CNN</option>
          <option value="trocr">TrOCR</option>
          <option value="shape">Shape Context</option>
        </select>
      </div>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
    </dialog>
    <!-- HELP MENU -->
    <dialog id="help-dialog">
      <h1>Help</h1>
      <form method="dialog" class="close">
        <button class="material-symbols-outlined">close</button>
      </form>
      <div>
        <h2>Writing & Erasing Code</h2>
        <img src="/static/help-menu/writing_and_erasing.png" alt="Writing and Erasing Menu">
        <ul>
          <li><span class="material-symbols-outlined">edit</span>  With "Code" selected, use the pen to write executable lines of code. </li>
          <li><span class="material-symbols-outlined">ink_eraser</span> Use the eraser to remove a character. </li>
          <li>Adjust the pen or eraser size using the sliders.</li>
          <li>Change the pen colour as needed.</li>
        </ul>
      </div>
      <div>
        <h2>Annotating Code</h2>
        <img src="/static/help-menu/annotation_toggle.png" alt="Annotation Toggle">
        <ul>
          <li>Select "Annotation" mode to add non-executable comments using the pen </li>
          <li>Toggle "Show Annotations" to display or hide annotations </li>
          <li>Customise the pen colour for annotations</li>
        </ul>
      </div>
      <div>
        <h2>Running Code</h2>
          <img src="/static/help-menu/code_block.png" alt="Code Block Selection">
        <ul>
          <li><span class="material-symbols-outlined"></span>  Use the selection tool to draw a box around the code you want to run.</li>
          <li>If auto-execution is enabled, the code runs instantly otherwise click ▶.</li>
          <li>Click the language icon to switch execution languages.</li>
          <li><span class="material-symbols-outlined">output</span>  Display or hide transcribed code.</li>
          <li><span class="material-symbols-outlined">text_fields</span>  Display or hide execution output.</li>
        </ul>
      </div>
      <div>
        <h2>Changing Incorrect Characters</h2>
        <img src="/static/help-menu/incorrect_prediction.png" alt="Incorrect Character Prediction">
        <p>If handwriting recognition misinterprets a character, click it and the most likely characters will be shown, select one of these characters to replace it.</p>
      </div>
      <div>
        <h2>Opening a new tab</h2>
        <img src="/static/help-menu/tabs.png" alt="Opening a tab">
        <p>Click the "+" icon next to existing tabs to open a blank whiteboard while keeping existing work.</p>
        <p>Double-click a tab to rename it.</p>
      </div>
      <div>
        <h2>Settings Menu</h2>
        <p>Customise your experience by changing settings</p><br>

        <h4>Touch Behaviour</h4>
        <p>Choose Between</p>
        <ul>
          <li>Pen for drawing, touch for panning</li>
          <li>Pen and touch with the same behavior</li>
        </ul><br>

        <h4>Default Language</h4>
        <p>Set the default programming language for new code block selections. </p><br>

        <h4>Automatically execute new selections</h4>
        <p>Enable/disable automatic execution of selected code (enabled by default).</p><br>

        <h4>Background</h4>
        <p>Choose between grid squares, lines, or dots as your background.</p><br>
      </div>



    </dialog>
    <script src="/static/main_app.js" type="module" charset="utf-8"></script>
  </body>
</html>
